<div class="row form user_profile">
  <div class="col-lg-12">
    <p>名前</p>
    <div class="user_name"><%= @name %></div>
    <p>最寄り駅</p>
    <div class="user_nearest_station"><%= @station %></div>
  </div>
</div>
