<div class="row form user_profile">
      <div class="profile_edit">
        <%= link_to 'プロフィール編集', edit_user_path(current_user) %>
      </div>
</div>
<div class="contents row" >
  <p><%= @name %>さんの投稿一覧</p>
  <% @questions.each do |question| %>
    <%= render partial: "questions/question", locals: { question: question } %>
  <% end %>
</div>
