<form>
  <div class="input_item">WORKPLACE NAME - Enter your work place name</div>
  <input class="search__name form-control" name="name" placeholder="Store Name" type="text" value="">
  <div class="notice">*You can search for your workplace only if you are working at restaurants.</div>

  <div class="input_item">WORKPLACE AREA - Select your work place area</div>
  <select class="search__area form-control" name="area">
    <option value="Y005">Ginza, Yurakucho, Shinbashi, Tsukiji, Tsukishima</option>
    <option value="Y006">Suidobashi, Iidabashi, Kagurazaka</option>
    <option value="Y007">Odaiba</option>
    <option value="Y010">Tokyo, Ohtemachi, Nihonbashi, Ningyocho</option>
    <option value="Y013">Yotsuya, Kojimachi, Ichigaya, Kudanshita</option>
    <option value="Y015">Ueno, Okachimachi, Asakusa</option>
    <option value="Y016">Kitasenju, Nippori, Katsushika, Arakawa</option>
    <option value="Y017">Kinshicho, Asakusabashi, Ryogoku, Kamedo</option>
    <option value="Y018">Monzen-Nakacho, Toyocho, Kiba, Kasai</option>
    <option value="Y020">Kanda, Jinbocho, Akihabara, Ochanomizu</option>
    <option value="Y025">Shinagawa, Meguro, Tamachi, Hamamatsucho, Gotanda</option>
    <option value="Y026">Kamata, Ohmori, Ohta-ku</option>
    <option value="Y030">Shibuya</option>
    <option value="Y035">Harajuku, Aoyama, Omotesando</option>
    <option value="Y040">Ebisu, Nakameguro, Daikanyama, Hiroo</option>
    <option value="Y045">Akasaka, Roppongi, Azabu-juban, Nishiazabu</option>
    <option value="Y046">Jiyugaoka, Denen-chofu</option>
    <option value="Y050">Ikebukuro</option>
    <option value="Y051">Akabane, Ouji, Jujo</option>
    <option value="Y055">Shinjuku</option>
    <option value="Y056">Shin-okubo, Okubo</option>
    <option value="Y057">Shin-okubo, Okubo</option>
    <option value="Y060">Nakano, Koenji, Asagaya, Honancho</option>
    <option value="Y070">Shimokitazawa, Yoyogi-uehara</option>
    <option value="Y072">Takadanobaba</option>
    <option value="Y073">Ikejiri-ohhashi, Sangen-jaya, Komazawa-daigaku</option>
    <option value="Y074">Sakura-shinmachi, Yoga, Futako-tamagawa</option>
    <option value="Y075">Yutenji, Gakugei-daigaku, Toritsu-daigaku</option>
    <option value="Y076">Hatagaya, Sasaduka, Meidaimae, Shimo-takaido</option>
    <option value="Y077">Chofu, Fuchu, Chitose-karasuyama, Sengawa</option>
    <option value="Y078">Kyodo, Chitose-funabashi</option>
    <option value="Y079">Soshigaya-Ohkura, Seijo-Gakuenmae</option>
    <option value="Y080">Ohimachi, Nakanobu, Hatanodai, Togoshi, Magome</option>
    <option value="Y081">Fudomae, Musashi-koyama</option>
    <option value="Y082">Yukigaya-Otsuka, Ikegami</option>
    <option value="Y083">Musashi-koganei</option>
  </select>
  <div class="notice">*If you are not sure about your workplace name in Japanese(Kanji), you can search the store only by the area above.</div>
</form>
<div class="result">

</div>
