// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.question_post {
    position: relative;
    margin-top: 20px;
    margin: 1em 0 1em 40px;
    padding: 8px 15px;
    background: #fff0c6;
    border-radius: 30px;
    a {
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', '游ゴシック  Medium', meiryo, sans-serif;
  }
    .user_image {
    display: inline-block;
    border: solid 1px black;
    margin: 10px;
    width: 60px;
    height: 60px;
  }
  .user_name {
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 150px;
  }
  .post_time {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 10px;
  }
  .question_content {
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 150px;
  }
}
.question_post:before{
    content: "\f111";
    font-family: FontAwesome;
    position: absolute;
    font-size: 15px;
    left: -40px;
    bottom: 0;
    color: #fff0c6;
}
.question_post:after{
    font-family: FontAwesome;
    content: "\f111";
    position: absolute;
    font-size: 23px;
    left: -23px;
    bottom: 0;
    color: #fff0c6;
}

.answer_post {
    position: relative;
    margin-top: 20px;
    margin: 2em 0 2em 40px;
    padding: 8px 15px;
    background: #f2d8bf;
    border-radius: 30px;
    a {
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', '游ゴシック  Medium', meiryo, sans-serif;
  }
    .user_image {
    display: inline-block;
    border: solid 1px black;
    margin: 10px;
    width: 60px;
    height: 60px;
  }
  .user_name {
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 150px;
  }
  .post_time {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 10px;
  }
  .answer_content {
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 150px;
  }
}
.answer_post:before{font-family: FontAwesome;
    content: "\f111";
    position: absolute;
    font-size: 15px;
    left: -40px;
    bottom: 0;
    color: #fff0c6;
}
.answer_post:after{
    font-family: FontAwesome;
    content: "\f111";
    position: absolute;
    font-size: 23px;
    left: -23px;
    bottom: 0;
    color: #fff0c6;
}
